:root {
    --background-color: #333;
    --foreground-color: #eee;
    --link-color: #3ca4ff;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: sans-serif;
}

body,
.dialog {
    background-color: var(--background-color);
    color: var(--foreground-color);
}

a,
a:visited {
    color: var(--link-color);
}

/* Page layout */

#main,
#dialogs {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

#main {
    z-index: 1;
}

#dialogs {
    z-index: 10;
    pointer-events: none;
    overflow-y: auto;
}

#menu {
    flex-shrink: 1;
}

#map {
    flex: 1;
    height: 100%;
}

.container {
    padding: 50px;
}

/* Layout utilities */

.col-2 {
    column-count: 2;
    column-gap: 10px;
}

.col-2 > * {
    display: block;
    width: 100%;
}

/* Text formatting utilities */

.text-center {
    text-align: center;
}

.text-muted {
    color: #888;
}

h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
    vertical-align: middle;
}
