:root {
    --field-padding: 1em;
    --border-color: #0008;
    --shadow-color: #0005;
}

/* Map */

.pin-header {
    border-radius: 12px;
    background-color: #0005;
    padding: 12px;
}

.pin-title {
    font-weight: bold;
    margin-bottom: 1em;
}

.leaflet-popup-content a {
    color: var(--link-color);
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: var(--background-color);
    color: var(--foreground-color);
}

.leaflet-popup-content {
    max-height: 300px;
    max-width: calc(100vw - 100px);
    overflow-y: scroll;
    padding-right: 20px;
}

.leaflet-popup-content img {
    max-width: 100%;
}

/* Controls */

input,
textarea,
select,
button {
    padding: var(--field-padding);
}

button img {
    vertical-align: middle;
    margin-right: 1em;
    height: 20px;
    width: auto;
}

button.center {
    display: block;
    margin: auto;
}

.img-link img {
    height: 1em;
    width: auto;
}

textarea {
    resize: vertical;
    font-family: monospace;
}

/* Dialog layout */

.dialog {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
    box-shadow: 0 0 10px var(--shadow-color);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    pointer-events: initial;
    display: none;
}

@media (max-width: 768px) {
    .dialog {
        padding: 10px;
        top: 0;
        left: 0;
        transform: none;
        width: calc(100vw - 22px);
        min-height: calc(100vh - 22px);
        border-radius: 0;
    }
}

form .field {
    margin-bottom: 1rem;
}

form .field label {
    margin-bottom: 5px;
}

form .field > label,
form .field > select,
form .field > input,
form .field > textarea {
    display: block;
    box-sizing: content-box;
    width: calc(100% - 2 * var(--field-padding));
}
